<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudamqp.rabbitteste"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="Destinatario"
            android:screenOrientation="portrait"
            android:parentActivityName=".Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" ></meta-data>
        </activity>

        <activity
            android:name=".Chat"
            android:screenOrientation="portrait"
            android:parentActivityName=".Destinatario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Destinatario" />
        </activity>
    </application>

</manifest>